@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@tailwind base;

html {
  scroll-behavior: smooth;
}

.bg-gradient-custom {
  background: #8e9eab;
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
  background: linear-gradient(to right, #eef2f3, #8e9eab);
}

/* Dark theme gradient */
.dark .bg-gradient-custom {
  background: #0a0a0a;
  background: -webkit-linear-gradient(
    135deg,
    #0a0a0a 0%,
    #1a1a1a 40%,
    #0f0f0f 70%,
    #1c1c1c 100%
  );
  background: linear-gradient(
    135deg,
    #0a0a0a 0%,
    #1a1a1a 40%,
    #0f0f0f 70%,
    #1c1c1c 100%
  );
}

/* Light theme hover */
.activeHover {
  background: #0575e6;
  background: -webkit-linear-gradient(to right, #021b79, #0575e6);
  background: linear-gradient(to right, #021b79, #0575e6);
}

/* Dark theme hover */
.dark .activeHover {
  background: #0a0a0a;
  background: -webkit-linear-gradient(
    135deg,
    #0a0a0a 0%,
    #1c1c1c 30%,
    #121212 60%,
    #1f1f1f 100%
  );
  background: linear-gradient(
    135deg,
    #0a0a0a 0%,
    #1c1c1c 30%,
    #121212 60%,
    #1f1f1f 100%
  );
}

/* accordion dots */

.lp-dotlist p {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
}

.lp-dotlist p::before {
  content: "";
  margin-top: 0.55rem;
  width: 0.45rem;
  height: 0.45rem;
  background: var(--lp-primary);
  border-radius: 50%;
  flex-shrink: 0;
}

:root {
  --lp-background: #ddeaf7;
  --lp-primary: #0c3a66;
  --lp-secondary: #1f5f99;
  --lp-light: #3e7eb6;
  --lp-card: #f9fbfb;
  --bg: #f9fbfb;
  --text: #ededed;
  --text-dark: #171717;
  --text-soft: #99a1af;
  --soft-blue: #c2d6f6;
  --dark-blue: #0c3a66;
  --secondary: oklch(0.97 0 0);
  --secondary-hover: #3e7eb6;
  --disabled: #3e7eb6;
  --btn-primary: #3e7eb6;
  --btn-hover: #2563eb;
  --btn-danger: #ff3670;
  --border: oklch(0.922 0 0);
  --radius: 0.625rem;
  --background: #f9fbfb;
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: var(--btn-primary);
  --primary-foreground: oklch(0.985 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer components {
  .container {
    @apply max-w-[1200px] mx-auto px-4;
  }

  .form-input {
    @apply border border-gray-300 rounded px-4 py-2 w-full mb-5 rounded-lg;
  }

  .formText {
    @apply h-[35px] text-[var(--text-soft)] pt-[6px];
  }

  .formBtn {
    @apply bg-[var(--btn-primary)] text-[var(--text)] h-[40px] rounded-lg cursor-pointer;
  }

  .dashboardStats {
    @apply flex-1 p-2 rounded-lg text-lg shadow-lg bg-[var(--card)] cursor-pointer transform transition duration-150 ease-in-out hover:scale-105 shadow-md;
  }

  .activeLink {
    @apply border-l;
  }

  .primaryBtn {
    @apply bg-[var(--btn-primary)] flex items-center justify-center gap-2 p-2  rounded-lg text-[var(--text)] cursor-pointer;
  }

  .bg-btn {
    @apply bg-[var(--bg)] max-w-max p-2 rounded-xl text-[var(--text-dark)] border border-[var-(--text-dark)] cursor-pointer;
  }

  .outlineBtn {
    @apply bg-[var(--card)] border-2 py-2  px-4 rounded-lg cursor-pointer;
  }

  .outlineMaxBtn {
    @apply bg-[var(--background)] border border p-2 rounded-xl cursor-pointer;
  }

  .inputSection {
    @apply flex  gap-3 w-full;
  }

  .inputControl {
    @apply flex-col flex-1  overflow-x-hidden;
  }

  .inputControl input {
    @apply h-[35px] pl-[5px] bg-[var(--card)] rounded-sm w-full;
  }

  .inputControl textarea {
    @apply pl-[5px] bg-[var(--background)] rounded-lg w-full;
  }

  .sheduleContainer {
    @apply h-[90vh];
  }

  .scheduleMainWrapper {
    @apply rounded-lg mt-2 border-2 px-1 py-2;
  }

  .scheduleMain {
    @apply flex;
  }

  .scheduleInputSection input {
    @apply border-2 h-[40px] mb-2;
  }

  .scheduleInputSection textarea {
    @apply border-2;
  }

  .scheduleFooter {
    @apply h-[40px] flex items-center justify-between gap-4;
  }

  .sidebarLink {
    @apply flex items-center gap-3 px-3 py-2 transition-colors text-gray-600 hover:text-[var(--btn-primary)] text-sm;
  }

  .menuTab {
    @apply flex-1 transition-all cursor-pointer py-4  text-neutral-800 hover:bg-[var(--text)]  hover:text-[var(--lp-primary)]!;
  }

  .tableSearchInput {
    @apply h-[35px] max-w-sm pl-[5px] bg-[var(--background)] rounded-lg w-full border-1;
  }

  .line {
    @apply w-full h-[2px] bg-[var(--text)] my-2;
  }

  .settingsHeader {
    @apply font-bold text-lg text-[var(--btn-primary)] mb-2;
  }

  .settingsModeCard {
    @apply w-[250px] h-[250px] flex flex-col items-center gap-2 cursor-pointer border-2 overflow-hidden rounded-lg;
  }

  .activeModeCard {
    @apply border-4 border-[var(--btn-primary)];
  }

  .workTimeCardSelector {
    @apply flex items-center justify-between gap-2 mb-3;
  }

  .lp-container {
    @apply max-w-[1200px] mx-auto px-2;
  }

  .lp-link {
    @apply font-bold text-[var(--lp-primary)];
  }

  .lp-navBtn {
    @apply bg-[var(--lp-primary)] text-[var(--text)] p-2 rounded-lg cursor-pointer;
  }

  .lp-text {
    @apply font-serif italic text-[var(--lp-primary)];
  }

  .accordionHeader {
    @apply text-lg! font-bold! text-[var(--lp-primary)]! cursor-pointer!;
  }

  .middleBtn {
    @apply bg-[var(--btn-primary)] text-[var(--text)] h-[35px] min-w-[100px] rounded-lg cursor-pointer;
  }
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --btn-primary: #3e7eb6;
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .rounded-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #9ca3af transparent;
  }

  .rounded-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .rounded-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .rounded-scrollbar::-webkit-scrollbar-thumb {
    background-color: #9ca3af;
    border-radius: 9999px;
  }

  .rounded-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #6b7280;
  }
}

/* shad cn input selector config */
[data-slot="trigger"],
button[data-state] {
  cursor: pointer;
}

[data-radix-collection-item] {
  cursor: pointer !important;
}
