@import "tailwindcss";
@tailwind base;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg: #f9fbfb;
  --text: #ededed;
  --text-dark: #171717;
  --text-soft: #99a1af;
  --secondary: #f5f5f5;
  --secondary-hover: #3e7eb6;
  --btn-primary: #3e7eb6;
  --btn-hover: #2563eb;
  --border: #cccccc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .form-input {
    @apply border border-gray-300 rounded px-4 py-2 w-full mb-2 rounded-lg;
  }

  .formBtn {
    @apply bg-[var(--btn-primary)] text-[var(--text)] h-[40px] rounded-lg cursor-pointer;
  }

  .dashboardStats {
    @apply flex-1 p-2 rounded-lg text-lg shadow-lg bg-[var(--bg)];
  }

  .activeLink {
    @apply border-l;
    border-color: var(--btn-primary);
  }

  .appointBtn {
    @apply bg-[var(--btn-primary)] max-w-max p-2 rounded-xl text-[var(--text)] cursor-pointer;
  }
  .bg-btn {
    @apply bg-[var(--bg)] max-w-max p-2 rounded-xl text-[var(--text-dark)] border border-[var-(--text-dark)] cursor-pointer;
  }
}
